* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 10px;
    background-color: #000
}

.icone-cabecalho img{
    width: 150px;
    margin-left: 50px;
}

.itens-menu ul{
    display: flex;
    margin-right: 50px;
}

.itens-menu li{
    list-style: none;
    margin: 20px 15px;
}
.itens-menu a{
    text-decoration: none;
    color: #fff;
}
.itens-menu a:hover {
    color: rgb(25, 230, 140);
}

.secao-principal {
    background-color: rgb(25, 230, 140);
    text-align: center;
}

.primeira-secao {
    display: flex;
    justify-content: center;
    margin: 0 0 10% auto;
    padding-top: 8%;
}

.primeira-secao-img-1 {
    position: absolute;
    width: 136px;
    z-index: 1;
}
.primeira-secao-img-2 {
    position: absolute;
    bottom: 59.5%;
    width: 34px;
    z-index: 2;    
    
}
.primeira-secao-img-3 {
    position: absolute;
    bottom: 61.5%;
    width: 11px;
    z-index: 3;
}

.corpo-textos h1{
    font-size: 43px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 40px;
    color: inherit;
    margin-top: 130px;
    
}

.corpo-textos p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    padding-bottom: 30px;
    margin-top: 30px;
}

.corpo-textos button {
    border: none;
    background-color:#fff;
    color: #000;
    border-radius: 500px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 32px;
    margin-top: 5%;

}

.corpo-textos button:hover {
    font-size: medium;
}

.segunda-secao {
    background-color: #fff;
    padding: 70px 15px;
}

.segunda-secao h2 {
    font-size: 28px;
    font-weight: bolder;
}

.segunda-secao p {
    font-size: 16px;
    padding: 0 0 0 16px;
    margin-bottom: 15px;
    font-weight: normal;
    letter-spacing: -0.25px;
    line-height: 36px;
}

.segunda-secao img {
    margin: 5px;
    width: 120px;
}
.segunda-secao-img-2 {
    margin: -2px; 
    height: 100%;
    
}

.terceira-secao {
    background-color: rgb(34, 35, 38);
    padding: 70px 15px 50px;
}

.terceira-secao img {
    width: 40%;
    padding-bottom: 30px;
}
.terceira-secao h3{
    color: #fff;
    font: 28px Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 0 0 21px;
}

.terceira-secao ul{
    display: flex;
    font-weight: normal;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
}

.terceira-secao li {
    margin: 15px;
    color: rgb(29, 185, 84);

}

.terceira-secao span{
    color: #fff;
}

.terceira-secao a {
    color: rgb(29, 185, 84);
}

.terceira-secao a:hover {
    color: hsl(141, 68%, 52%);
}

footer{
    background-color: #000;
}

.listas-definicao {
display: flex;
flex-direction: row;
width: 100%;

}

.logo-rodape img {
    margin: 50px 30px 0 50px;
    width: 150px;
}

.listas-definicao dl{
    margin: 60px 0;
    line-height: 40px;
    text-align: justify;
    color: #fff;
}

.listas-definicao dt{
    padding: 0 50px;
    font-size: 12px;
    color: #919496;
    text-transform: uppercase;
}

.listas-definicao dd{
    font-size: 16px;
    padding: 0 50px;
}

.listas-definicao a {
    color: #fff;
    text-decoration: none;
}

.listas-definicao a:hover {
  color: rgb(25, 230, 140);

}

.icones-rodape {
    margin: 40px 10px;
}
.icones-rodape ul{
    display: flex;
    /* width: 44px;
    height: 44px; */
    list-style: none;
}

.icones-rodape li {
    margin: 5px;
    padding: 20px;
    border-radius: 50%;
    background-color: #222326;
  
}

.spotify-brasil {
    display: flex;
    justify-content: end;
    margin: 20px 80px;
    font-size: 12px;
}

.spotify-brasil a{
    color: #919496;
    text-decoration: none;
}

.spotify-brasil a:hover{
    color: rgb(25, 230, 140);
}

.last-link-footer{
    display: flex;
    justify-content: space-between;
    color: #919496;
    margin: 0 80px;
    font-size: 12px;
}

.last-link-footer ul{
    display: flex;
    list-style: none;
    padding-bottom: 50px;
}

.last-link-footer li {
    margin: 0 10px;
}

.last-link-footer a{
    color: #919496;
    text-decoration: none;
}

.last-link-footer a:hover {
    color: rgb(25, 230, 140);
}

